<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title)%></title>
</head>
	<body>
		<h1>About</h1>
		<p>
			This is the about page for the Climate Control Shutters Web app. <br>
			This App is built by using Ruby On Rails. <br>
			The idea here is to retain data about the room such as temperature and luminosity through out the day.

		</p>
	</body>
</html>
