<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
<head>
	<title><%= yield(:title)%></title>
</head>
	<body>
	<h1>Help</h1>
		<p>
			For help on this web app contatct Michael Zarate. <br>
			email: michael.zarate.ce@gmail.com

		</p>
	</body>
</html>