<!DOCTYPE html>
<html>
	<head>
		<title>Home | Climate Control Shutters Web App</title>
	</head>
	<body>
		<h1>Climate Control Shutters</h1>
		<p>
			This is the landing page for Climate Control Shutters. <br>
			Part of the 2016 CSE 424 Capstone Class
		</p>
	</body>
</html>